@import '../../App.css';

.project {
	background-color: var(--foreground-2);
	color: var(--primary);
	padding: 20px;
	border-radius: 5px;
	margin-bottom: 20px;
	border: 1px solid var(--divider);
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 180px;
	width: 180px;
	margin: auto;
	transition: background-color var(--transition), color var(--transition);
}
