@import '../../App.css';

.project-list {
	background-color: #f0f0f0;
	padding: 20px;
	border-radius: 5px;
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
	min-height: 300px;
}

.project-list-header {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: left;
	padding: 0px 20px;
}

.project-list-content {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
}
