@import '../../App.css';

.project-list {
	background-color: var(--foreground-1);
	color: var(--primary);
	padding: 20px;
	border-radius: 20px;
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 300px;
	max-width: 80%;
	min-width: 60%;
	transition: background-color var(--transition), color var(--transition);
}

.project-list-header {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: left;
	padding: 0px 20px 20px;
	width: 80%;
}

.project-list-content {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	grid-gap: 20px;
	width: 100%;
	padding: 20px 0px;
}
