@import '../../App.css';

.home {
	background-color: var(--background);
	color: var(--primary);
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	gap: 10px;
	min-height: 60vh;
	transition: background-color var(--transition), color var(--transition);
}

.home-title {
	max-width: 80%;
	padding: 30px;
	text-align: left;
	background-color: var(--foreground-1);
	border-radius: 15px;
	margin-bottom: 15px;
}
