@import '../../App.css';

.header {
	background-color: var(--foreground-1);
	color: var(--primary);
	margin-bottom: 20px;
	padding: 20px;
	align-items: center;
	display: flex;
	justify-content: space-between;
	height: 50px;
	transition: background-color var(--transition), color var(--transition);
}

.header-menu {
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: center;
	gap: 50px;
}
