@import url('https://fonts.googleapis.com/css2?family=Tomorrow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
	--background: #ffffff;
	--foreground-1: #f0f0f0;
	--foreground-2: #dadada;
	--link: #00487c;
	--modal-background: rgba(0, 0, 0, 0.5);
	--card-background: #f0f0f0;
	--primary: #333333;
	--button-bg: #000000;
	--button-text: #ffffff;
	--divider: #e0e0e0;
	--transition: 0.3s;
}

[data-theme='dark'] {
	--background: #000000;
	--foreground-1: #1a1a1a;
	--foreground-2: #4b4b4b;
	--link: #0077cc;
	--modal-background: rgba(255, 255, 255, 0.5);
	--card-background: #6d6d6d;
	--primary: #dfdfdf;
	--button-bg: #b8b8b8;
	--button-text: #5a5a5a;
	--divider: #4d4d4d;
	--transition: 0.3s;
}

.App {
	max-width: 100vw;
	min-height: 100vh;
	font-family: 'Tomorrow';
	background-color: var(--background);
	transition: all var(--transition);
}

a:visited {
  color: var(--link);
  background-color: transparent;
  text-decoration: none;
}

a:link {
  color: var(--link);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: var(--link);
  background-color: transparent;
  text-decoration: underline;
}
